#in-page-push ,
#in-page-push * {
	margin: 0 !important;
	padding: 0 !important;
	outline: none !important;
	box-sizing: border-box !important;
	text-shadow: initial !important;
	font-size: 14px !important;
	line-height: 1.4 !important;
	font-family: sans-serif !important;
	text-transform: initial !important; 
	text-decoration: none !important;
}
#in-page-push {
	position: fixed !important;
	z-index: 1000000 !important;
	bottom: 20px !important;
	right: -340px !important;
	width: 320px !important;
	min-width: 320px !important;
	min-height: 100px !important;
	background: #fff !important;
	border-radius: 16px !important;
	line-height: 1.4 !important;
	color: rgb(51, 51, 51) !important;
	font-size: 14px !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
	display: flex !important;
	font-family: sans-serif !important;
	justify-content: center !important;
	align-items: stretch !important;
	flex-wrap: nowrap !important;
	transition: all .5s cubic-bezier(1, 0.5, 0.8, 1);
}
#in-page-push * {
	letter-spacing: 0 !important;
}
#in-page-push.active {
	right: 20px !important;
}
#in-page-push .in-page-push-close {
	width: 20px !important;
	height: 20px !important;
	background: rgba(245,76,100,1) !important;
	position: absolute !important;
	top: -10px !important;
	right: -10px !important;
	border-radius: 50% !important;
	border: 0 !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
}
#in-page-push .in-page-push-close img ,
#in-page-push .in-page-push-close svg {
	width: calc(100% - 10px) !important;
}
#in-page-push .in-page-push-image-block {
	width: 112px !important;
	min-width: 112px !important;
	padding: 16px !important;
	display: flex !important;
	justify-content: flex-start !important;
	align-items: center !important;
	align-content: center !important;
	flex-direction: column !important;
}
#in-page-push .in-page-push-image-block img {
	width: 80px !important;
	min-width: 80px !important;
	height: 80px !important;
	min-height: 80px !important;
	object-fit: cover !important;
	object-position: center !important;
	border-radius: 50% !important;
	margin-bottom: 8px !important;
	background: linear-gradient(270deg, rgba(246,130,97,1) 0%, rgba(245,76,100,1) 100%) !important;
}
#in-page-push .in-page-push-image-block h4 {
	font-size: calc(1em - 2px) !important;
	font-weight: 600 !important;
	text-align: center;
}
#in-page-push .in-page-push-image-block #in-page-push-age {
	color: #999 !important;
}
#in-page-push .in-page-push-text {
	padding: 16px 16px 16px 0 !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: space-between !important;
	flex-grow: 1 !important;
}
#in-page-push .in-page-push-text h4 {
	font: inherit !important;
	font-weight: 600 !important;
	color: inherit !important;
	margin-bottom: 8px !important;
	text-align: left !important;
}
#in-page-push .in-page-push-text p {
	font: inherit !important;
	font-size: calc(1em - 2px) !important;
    color: #999 !important;
    text-align: left !important;
}
#in-page-push .in-page-push-button {
	margin-top: 8px !important;
}
#in-page-push .in-page-push-button a {
	width: auto !important;
	display: inline-flex !important;
	text-align: center !important;
	color: #fff !important;
	text-decoration: none !important;
	padding: 8px 16px !important;
	border-radius: 8px !important;
	background: rgb(246,130,97) !important;
	background: linear-gradient(270deg, rgba(246,130,97,1) 0%, rgba(245,76,100,1) 100%) !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
}
/*type 1*/
#in-page-push[data-theme="1"] {
	width: 445px !important;
	right: -445px !important;
	bottom: 15px !important;
}
#in-page-push.active {
	right: 15px !important;
}
#in-page-push[data-theme="1"] .in-page-push-image-block {
	width: 50% !important;
	min-width: 50% !important;
	padding: 0 !important;
	position: relative !important;
	overflow: hidden !important;
	border-top-left-radius: 16px !important;
	border-bottom-left-radius: 16px !important;
}
#in-page-push[data-theme="1"] .in-page-push-image-block h4 {
	position: absolute !important;
	bottom: 12px !important;
	right: 12px !important;
	z-index: 2 !important;
	color: #fff !important;
	background: rgba(0,0,0,0.4) !important;
	padding: 8px 16px !important;
	border-radius: 100px !important;
}
#in-page-push[data-theme="1"] .in-page-push-image-block h4 span {
	font-size: 14px !important;
}
#in-page-push[data-theme="1"] .in-page-push-image-block #in-page-push-age {
	color: #fff !important;
}
#in-page-push[data-theme="1"] .in-page-push-image-block img {
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	min-width: 100% !important;
	height: 100% !important;
	border-radius: 0 !important;
	margin-bottom: 0 !important;
	z-index: 1 !important;
}
#in-page-push[data-theme="1"] .in-page-push-text {
	padding: 12px 0 12px 0 !important;
}
#in-page-push[data-theme="1"] .in-page-push-text h4 {
	padding-left: 10px !important;
	margin-bottom: 0 !important;
	padding-bottom: 9px !important;
	margin-bottom: 9px !important;
	border-bottom: 2px solid #EFEFEF !important;
	font-size: 14px !important;
}
#in-page-push[data-theme="1"] .in-page-push-text p {
	margin-left: 10px !important;
	padding: 8px 12px !important;
	background: linear-gradient(90deg, #F74F66 4.69%, #FB836A 100%) !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 3px 8px rgba(0, 0, 0, 0.15) !important;
	border-radius: 12px 12px 0px 12px !important;
	color: #fff !important;
	font-size: 14px !important; 
}
#in-page-push[data-theme="1"] .in-page-push-button{
	padding-top: 9px !important;
	padding-left: 10px !important;
	margin-top: 9px !important;
	border-top: 2px solid #EFEFEF !important;
}
#in-page-push[data-theme="1"] .in-page-push-decline {
	width: auto !important;
	display: inline-flex !important;
	text-align: center !important;
	color: #fff !important;
	text-decoration: none !important;
	padding: 8px 16px !important;
	border-radius: 8px !important;
	background: #E0E0E0 !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
	border: 0 !important;
	color: #FA7769 !important;
	box-shadow: 0px 3.31343px 3.31343px rgba(0, 0, 0, 0.1) !important;
	cursor: pointer !important;
}
#in-page-push[data-theme="1"] .in-page-push-go {
	background: linear-gradient(90deg, #F74F66 4.69%, #FB836A 100%) !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 3px 8px rgba(0, 0, 0, 0.15) !important;
	box-shadow: 0px 3.31343px 3.31343px rgba(249, 100, 104, 0.3) !important;
}
#in-page-push[data-theme="1"] .in-page-push-decline,
#in-page-push[data-theme="1"] .in-page-push-go {
	border-radius: 100px !important;
	font-weight: 500 !important;
	font-size: 14px !important;
}
@media screen and (max-width: 768px) {
	#in-page-push[data-theme="1"] {
		width: 345px !important;
		right: -345px !important;
	}
	#in-page-push.active {
		right: 15px !important;
	}
	#in-page-push[data-theme="1"] .in-page-push-text h4 {
		font-size: 12px !important;
	}
	#in-page-push[data-theme="1"] .in-page-push-text p {
		font-size: 12px !important; 
	}
}




#comebacker ,
#comebacker * {
	margin: 0 !important;
	padding: 0 !important;
	outline: none !important;
	box-sizing: border-box !important;
	text-shadow: initial !important;
	font-size: 20px !important;
	line-height: 1.4 !important;
	font-family: sans-serif !important;
	text-transform: initial !important; 
	text-decoration: none !important;
}

#comebacker {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 3000000 !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	transform: scale(0,0) !important;	
	transition: 0s !important;
}
#comebacker.active {
	transform: scale(1,1) !important;	
}

#comebacker .comebacker-bg {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 3000001 !important;
	background: rgba(0,0,0,0.65) !important;
	backdrop-filter: blur(10px) !important;
	-webkit-backdrop-filter: blur(10px) !important;
}

#comebacker .comebacker-wrapper {
	position: relative !important;
	z-index: 3000002 !important;
	width: 640px !important;
	min-width: 640px !important;
	max-width: 640px !important;
	min-height: 500px !important;
	display: flex !important;
	align-items: stretch !important;
	transform: scale(0,0) !important;	
	transition: 0.3s !important;
}
#comebacker.active .comebacker-wrapper {
	transform: scale(1,1) !important;	
}

#comebacker .comebacker-close {
	width: 20px !important;
	height: 20px !important;
	background: rgba(245,76,100,1) !important;
	position: absolute !important;
	top: -10px !important;
	right: -10px !important;
	border-radius: 50% !important;
	border: 0 !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
	z-index: 2 !important;
}
#comebacker .comebacker-close img ,
#comebacker .comebacker-close svg {
	width: calc(100% - 10px) !important;
}

#comebacker .comebacker-content {
	width: 100% !important;
	overflow: hidden !important;
	position: relative !important;
	padding: 32px !important;
	border-radius: 16px !important;
	text-align: center !important;
	z-index: 1 !important;
	color: #fff !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
	display: flex !important;
	justify-content: center !important;
	flex-direction: column !important;
	background-size: cover !important;
	background-position: center top !important;
	background-repeat: no-repeat !important;
}
#comebacker .comebacker-content:after {
	content: "" !important;
	width: 100% !important;
	height: 100% !important;
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	background: linear-gradient(270deg, rgba(246,130,97,0.5) 0%, rgba(245,76,100,0.5) 100%) !important;
	z-index: 1 !important;
}
#comebacker .comebacker-content * {
	position: relative !important;
	z-index: 2 !important;
	max-width: 400px !important;
	margin: 0 auto !important;
	color: #fff !important;
	letter-spacing: 0 !important;
}
#comebacker .comebacker-content #comebacker-title {
	margin-bottom: auto !important;
	font-size: 16px !important;
}
#comebacker .comebacker-content #comebacker-title span {
	font: inherit !important;
}
#comebacker .comebacker-content #comebacker-text {
	font-size: 1.2em !important;
	line-height: 1.2 !important;
	margin-bottom: 1em !important;
	margin-top: 1em !important;
}

#comebacker .comebacker-button {
	margin-bottom: 0 !important;
}
#comebacker .comebacker-button a {
	width: auto !important;
	display: inline-flex !important;
	text-align: center !important;
	color: #fff !important;
	text-decoration: none !important;
	padding: 16px 64px !important;
	border-radius: 32px !important;
	background: rgb(246,130,97) !important;
	background: linear-gradient(270deg, rgba(246,130,97,1) 0%, rgba(245,76,100,1) 100%) !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
}
@media screen and (max-width: 768px) {
	#comebacker ,
	#comebacker * {
		font-size: 16px !important;
	}
	#comebacker .comebacker-wrapper {
		width: 340px !important;
		min-width: 340px !important;
		max-width: 340px !important;
		min-height: 300px !important;
	}
	#comebacker .comebacker-content * {
		max-width: 100% !important;
	}
	#comebacker .comebacker-content #comebacker-title {
		font-size: 13px !important;
	}
	#comebacker .comebacker-content #comebacker-text {
		font-size: 1em !important;
		line-height: 1.4 !important;
	}
}
/*type 1*/
#comebacker[data-theme="1"] .comebacker-wrapper {
	flex-direction: column !important;
	min-height: initial !important;
}
#comebacker[data-theme="1"] .comebacker-inner {
    width: 100% !important;
    overflow: hidden !important;
    position: relative !important;
    padding: 0px !important;
    border-radius: 16px !important;
    text-align: center !important;
    z-index: 1 !important;
    color: #fff !important;
    box-shadow: 0px 0px 10px rgb(51 51 51 / 25%) !important;
    display: flex !important;
    justify-content: center !important;
    flex-direction: column !important;
    background-size: cover !important;
    background-position: center top !important;
    background-repeat: no-repeat !important;
}
#comebacker[data-theme="1"] .comebacker-inner:after {
	content: "" !important;
	width: calc(100% + 32px) !important;
	height: calc(100% + 32px) !important;
	position: absolute !important;
	left: -16px !important;
	top: -16px !important;
	background: rgba(255, 255, 255, 0.75) !important;
	backdrop-filter: blur(8px) !important;
	-webkit-filter: blur(8px) !important;
	z-index: 1 !important;
}
#comebacker[data-theme="1"] .comebacker-inner > * {
	position: relative !important;
	z-index: 2 !important;
}
#comebacker[data-theme="1"] .comebacker-inner-1-row {
	display: flex !important;
	justify-content: flex-start !important;
	align-items: stretch !important;
}
#comebacker[data-theme="1"] .comebacker-inner-1-left {
	width: 50% !important;
}
#comebacker[data-theme="1"] .comebacker-inner-1-right {
	width: 50% !important;
	display: flex !important;
	flex-direction: column !important;
	justify-content: center !important;
}
#comebacker[data-theme="1"] .comebacker-inner-1-left .comebacker-inner-1-left-inner {
	margin-left: 20px !important;
	margin-right: 20px !important;
	padding: 0 4px 4px 4px !important;
	border-bottom-right-radius: 500px !important;
	border-bottom-left-radius: 500px !important;
	background: linear-gradient(90deg, #F74F66 4.69%, #FB836A 100%) !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 3px 8px rgba(0, 0, 0, 0.15) !important;
}
#comebacker[data-theme="1"] .comebacker-inner-1-left img {
	max-width: 100% !important;
	width: 100% !important;
	aspect-ratio: 1/1 !important;
	border-radius: 50% !important;
	display: block !important;
	object-fit: cover !important;
	object-position: center top !important;
}
#comebacker[data-theme="1"] .comebacker-inner-1-left .comebacker-inner-1-info {
	padding: 16px 0 !important;
}
#comebacker[data-theme="1"] .comebacker-inner-1-right h4 {
	color: #000 !important;
	margin: 16px 0 !important;
	padding: 0 15px !important;
	text-align: center !important;
	font-size: 32px !important;
}
#comebacker[data-theme="1"] .comebacker-inner-1-right p {
	text-align: left !important;
	margin-left: auto !important;
	display:  inline-block !important;
	max-width: 100% !important;
	color: #fff !important;
	margin-bottom: 16px !important;
	padding: 16px 24px !important;
	border-radius: 12px 12px 0px 12px !important;
	background: linear-gradient(90deg, #F74F66 4.69%, #FB836A 100%) !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15), inset 0px 3px 8px rgba(0, 0, 0, 0.15) !important;
}
#comebacker[data-theme="1"] .comebacker-inner-2-row {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
#comebacker[data-theme="1"] .comebacker-inner-2-row a {
	width: auto !important;
	display: inline-flex !important;
	text-align: center !important;
	color: #fff !important;
	text-decoration: none !important;
	padding: 16px 64px !important;
	border-radius: 32px !important;
	background: linear-gradient(90deg, #F74F66 4.69%, #FB836A 100%) !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
}
@media screen and (max-width: 768px) {
	#comebacker[data-theme="1"] .comebacker-wrapper {
		flex-direction: column !important;
	}
	#comebacker[data-theme="1"] .comebacker-inner-1-row {
		flex-direction: column !important;
	}
	#comebacker[data-theme="1"] .comebacker-inner-1-left ,
	#comebacker[data-theme="1"] .comebacker-inner-1-right {
		width: 100% !important;
	}
	#comebacker[data-theme="1"] .comebacker-inner-1-left .comebacker-inner-1-left-inner {
		max-width: 240px !important;
		margin: 0 auto !important;
	}

	#comebacker[data-theme="1"] .comebacker-inner-1-right h4 {
		margin: 10px 0 !important;
		font-size: 24px !important;
	}
	#comebacker[data-theme="1"] .comebacker-inner-1-right p {
		margin-bottom: 10px !important;
		padding: 8px 12px !important;
	}
	#comebacker[data-theme="1"] .comebacker-inner-1-right p,
	#comebacker[data-theme="1"] .comebacker-inner-2-row a {
		font-size: 20px !important;
	}
	#comebacker[data-theme="1"] .comebacker-inner-2-row {
		margin-top: 10px !important;
	}
}





#inactive-tab-banner ,
#inactive-tab-banner * {
	margin: 0 !important;
	padding: 0 !important;
	outline: none !important;
	box-sizing: border-box !important;
	text-shadow: initial !important;
	font-size: 20px !important;
	line-height: 1.4 !important;
	font-family: sans-serif !important;
	text-transform: initial !important; 
	text-decoration: none !important;
}

#inactive-tab-banner {
	position: fixed !important;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 2000000 !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	transform: scale(0,0) !important;	
	transition: 0s !important;
}
#inactive-tab-banner.active {
	transform: scale(1,1) !important;	
}

#inactive-tab-banner .inactive-tab-banner-bg {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 2000001 !important;
	background: rgba(0,0,0,0.65) !important;
	backdrop-filter: blur(10px) !important;
	-webkit-backdrop-filter: blur(10px) !important;
}

#inactive-tab-banner .inactive-tab-banner-wrapper {
	position: relative !important;
	z-index: 2000002 !important;
	width: 640px !important;
	min-width: 640px !important;
	max-width: 640px !important;
	min-height: 500px !important;
	display: flex !important;
	align-items: stretch !important;
	transform: scale(0,0) !important;	
	transition: 0.3s !important;
}
#inactive-tab-banner.active .inactive-tab-banner-wrapper {
	transform: scale(1,1) !important;	
}

#inactive-tab-banner .inactive-tab-banner-close {
	width: 20px !important;
	height: 20px !important;
	background: rgba(245,76,100,1) !important;
	position: absolute !important;
	top: -10px !important;
	right: -10px !important;
	border-radius: 50% !important;
	border: 0 !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
	z-index: 2 !important;
}
#inactive-tab-banner .inactive-tab-banner-close img,
#inactive-tab-banner .inactive-tab-banner-close svg {
	width: calc(100% - 10px) !important;
}

#inactive-tab-banner .inactive-tab-banner-content {
	width: 100% !important;
	overflow: hidden !important;
	position: relative !important;
	padding: 32px !important;
	border-radius: 16px !important;
	text-align: center !important;
	z-index: 1 !important;
	color: #fff !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
	display: flex !important;
	justify-content: center !important;
	flex-direction: column !important;
	background-size: cover !important;
	background-position: center top !important;
	background-repeat: no-repeat !important;
}
#inactive-tab-banner .inactive-tab-banner-content:after {
	content: "" !important;
	width: 100% !important;
	height: 100% !important;
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	background: linear-gradient(270deg, rgba(246,130,97,0.5) 0%, rgba(245,76,100,0.5) 100%) !important;
	z-index: 1 !important;
}
#inactive-tab-banner .inactive-tab-banner-content * {
	position: relative !important;
	z-index: 2 !important;
	max-width: 400px !important;
	margin: 0 auto !important;
	color: #fff !important;
	letter-spacing: 0 !important;
}
#inactive-tab-banner .inactive-tab-banner-content #inactive-tab-banner-title {
	margin-bottom: auto !important;
	font-size: 16px !important;
}
#inactive-tab-banner .inactive-tab-banner-content #inactive-tab-banner-title span {
	font: inherit !important;
}
#inactive-tab-banner .inactive-tab-banner-content #inactive-tab-banner-text {
	font-size: 1.2em !important;
	line-height: 1.2 !important;
	margin-bottom: 1em !important;
	margin-top: 1em !important;
}

#inactive-tab-banner .inactive-tab-banner-button {
	margin-bottom: 0 !important;
}
#inactive-tab-banner .inactive-tab-banner-button a {
	width: auto !important;
	display: inline-flex !important;
	text-align: center !important;
	color: #fff !important;
	text-decoration: none !important;
	padding: 16px 64px !important;
	border-radius: 32px !important;
	background: rgb(246,130,97) !important;
	background: linear-gradient(270deg, rgba(246,130,97,1) 0%, rgba(245,76,100,1) 100%) !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
}
@media screen and (max-width: 768px) {
	#inactive-tab-banner ,
	#inactive-tab-banner * {
		font-size: 16px !important;
	}
	#inactive-tab-banner .inactive-tab-banner-wrapper {
		width: 340px !important;
		min-width: 340px !important;
		max-width: 340px !important;
		min-height: 300px !important;
	}
	#inactive-tab-banner .inactive-tab-banner-content * {
		max-width: 100% !important;
	}
	#inactive-tab-banner .inactive-tab-banner-content #inactive-tab-banner-title {
		font-size: 13px !important;
	}
	#inactive-tab-banner .inactive-tab-banner-content #inactive-tab-banner-text {
		font-size: 1em !important;
		line-height: 1.4 !important;
	}
}







#onesignal-bell-container {
	display: none !important; 
	padding: 0 !important; 
	margin: 0 !important; 
	visibility: hidden !important; 
	opacity: 0 !important;
} 
#onesignal-slidedown-container #onesignal-slidedown-dialog .slidedown-body-icon img { 
	box-sizing: border-box !important;
	float: left !important;
	width: 80px !important;
	height: 80px !important;
	position: relative !important;
	overflow: hidden !important;
}
#onesignal-slidedown-container #onesignal-slidedown-dialog button {
	height: auto !important;
}





/*imwp banner*/
#imwp ,
#imwp * {
	margin: 0 !important;
	padding: 0 !important;
	outline: none !important;
	box-sizing: border-box !important;
	text-shadow: initial !important;
	font-size: 14px !important;
	line-height: 1.4 !important;
	font-family: sans-serif !important;
	text-transform: initial !important; 
	text-decoration: none !important;
}
#imwp {
	position: fixed !important;
	z-index: 1000000 !important;
	top: -100% !important;
	left: 20px !important;
	background: #fff !important;
	border-radius: 16px !important;
	line-height: 1.4 !important;
	color: rgb(51, 51, 51) !important;
	font-size: 14px !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
	display: flex !important;
	font-family: sans-serif !important;
	justify-content: flex-start !important;
	align-items: flex-start !important;
	flex-wrap: nowrap !important;
	transition: all .5s cubic-bezier(1, 0.5, 0.8, 1) !important;
	width: 420px !important;
	min-width: 420px !important;
	max-width: 420px !important;
	padding: 16px !important; 
}
#imwp.active {
	top: 20px !important;
}
#imwp * {
	letter-spacing: 0 !important;
}
#imwp .imwp-img {
	width: 120px !important;
	margin-right: 16px !important;
}
#imwp img {
	width: 120px !important;
	height: 120px !important;
	aspect-ratio: 1 / 1 !important;
	object-fit: cover !important;
	object-position: center !important;
	border-radius: 8px !important;
}
#imwp .imwp-title {
	font: inherit !important;
	font-weight: 600 !important;
	color: inherit !important;
	margin-bottom: 8px !important;
	text-align: left !important;
}
#imwp .imwp-text {
    font: inherit !important;
	font-size: calc(1em - 2px) !important;
    color: #999 !important;
    text-align: left !important;
}
#imwp .imwp-btns {
	margin-top: 16px !important;
}
#imwp .imwp-btns > a:not(:last-child) {
	margin-right: 8px !important;
}
#imwp .imwp-btn {
	font: inherit !important;
	width: auto !important;
	display: inline-flex !important;
	text-align: center !important;
	color: #fff !important;
	text-decoration: none !important;
	padding: 8px 16px !important;
	border-radius: 8px !important;
	background: rgb(246,130,97) !important;
	background: linear-gradient(270deg, rgba(246,130,97,1) 0%, rgba(245,76,100,1) 100%) !important;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.25) !important;
}
#imwp .imwp-btn.imwp-btn-decline {
	background:  #fff !important;
	color: rgb(246,130,97) !important;
}

@media screen and (max-width: 520px) {
	#imwp {
		width: calc(100% - 40px) !important;
		min-width: calc(100% - 40px) !important;
		max-width: 480px !important;
	}
	#imwp .imwp-img {
		width: 80px !important;
	}
	#imwp .imwp-img img {
		width: 80px !important;
		height: 80px !important;
	}
}
/*imwp page*/
#imwp-page-body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
#imwp-page ,
#imwp-page * {
	margin: 0 !important;
	padding: 0 !important;
	outline: none !important;
	box-sizing: border-box !important;
	text-shadow: initial !important;
	font-size: 14px !important;
	line-height: 1.4 !important;
	font-family: sans-serif !important;
	text-transform: initial !important; 
	text-decoration: none !important;
}
#imwp-page {
	width: calc(100% - 40px) !important;
	min-width: 320px !important;
	max-width: 500px !important;
}
#imwp-page img {
	max-width: 100% !important;
	border-radius: 16px !important;
}
#imwp-page .mwp-page-content {
	text-align: center !important;
}
#imwp-page .mwp-page-title {
	margin: 16px 0 !important;
}